:root {
  --color-menu: #f6f6f6;
  --color-noteItem: #ffffff;
  --color-light: #ec7160;
  --color-red: #d82700;
  --color-black: #303030;
  --color-gray: #898989;
  --color-gap: #e7e7e9;
  --13px: 1.3rem;
  --15px: 1.5rem;
  --16px: 1.6rem;
  --26px: 2.6rem;
  --transitionTiming: 0.1s;
  --transitionTiming-large: 1s;
  --width-sideBar: 322px;
  --width-menu: 258px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0;
  font: inherit;
}
html {
  font-size: 62%;
  @media (max-width: 900px) {
    font-size: 50%;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-thumb {
  border-radius: 0;
}

.rotateBurgerBar {
  transform: rotate(180deg);
}
.rotate {
  transform: rotate(180deg);
  border-radius: 50%;
  padding: 2px;
  background: var(--color-light);
}

.container {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  position: relative;
}

.burgerBar {
  display: none;
  position: absolute;
  top: 15px;
  left: 20px;
  z-index: 1000;
  transition: var(--transitionTiming-large);
  @media screen and (max-width: 1200px) {
    display: block;
  }
}
.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: var(--width-menu);
  height: 100%;
  background: var(--color-menu);
  padding: 0 24px 0;
  transition: calc(var(--transitionTiming) * 10);

  @media (max-width: 900px) {
    width: 100%;
    z-index: 11;
    transition: calc(var(--transitionTiming) * 10);
  }
  &__title {
    margin-top: 41px;
    position: relative;
    font-family: "Aclonica", sans-serif;
    color: var(--color-light);
    font-size: var(--15px);
    @media screen and (max-width: 1200px) {
      margin: 17px auto 0;
    }
  }
  &__search {
    position: relative;
    margin-top: 57px;
    border-radius: 0;

    &-icon {
      cursor: pointer;
      padding: 8px;
      height: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-input {
      color: inherit;
      border: none;
      width: 80%;
      padding: 7px;
      padding-left: calc(1em + 18px);
      transition: calc(var(--transitionTiming) * 2);
      font-size: var(--13px);
      border: 0;
      outline: none;
      color: inherit;
      border-radius: 7px;
    }

    @media screen and (min-width: 600px) {
      .menu__search-input:focus {
        width: 100%;
      }
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    font-size: var(--16px);

    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      transition: var(--transitionTiming);
      &-line {
        display: block;
        position: absolute;
        left: 24px;
        content: "";
        height: 20px;
        width: 3px;
        background-color: var(--color-light);
        transition: height 0.3s ease;
      }
      &-link:active {
        transform: translateY(2px);
      }
      &-link:hover {
        text-decoration: underline;
      }

      &-link {
        border: 0;
        background-color: var(--color-menu);
        margin-right: auto;
        margin-left: 12px;
        padding: 2px 5px;
        cursor: pointer;
        transition: var(--transitionTiming);
        color: var(--color-gray);
      }
      &-link-active {
        color: var(--color-black);
      }
      &:hover &-line {
        display: block;
      }
      &:hover &-link {
        color: var(--color-black);
      }
    }
  }
}
.responsiveMenu {
  left: -110px;
  transition: var(--transitionTiming-large);
}
.note {
  left: var(--width-menu);
  position: absolute; //the Solution
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transitionTiming-large);
  &__notes {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--color-gap);
    height: 100%;
    width: var(--width-sideBar);
    transition: var(--transitionTiming-large);
    position: fixed;
    padding: 48px 0;
    font-size: var(--13px);
    overflow-y: auto; /* Enable vertical scrolling */

    &-image {
      position: fixed;
      margin-left: calc(var(--width-sideBar) - 18px);
      transition: calc(var(--transitionTiming) * 15);
      margin-top: 50px;
    }
    &-title {
      margin-bottom: 16px;
      color: var(--color-light);
      &-text {
        margin-left: 28px;
      }

      &-notes {
        position: relative;
        padding: 10px 0 6px;
      }

      &-notes::before,
      &-notes::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        background-color: var(--color-gap);
      }

      &-notes::before {
        top: 0;
      }

      &-notes::after {
        bottom: 0;
      }
    }
    &-noteItem:hover {
      --color-noteItem: var(--color-menu);
    }
    &-noteItem {
      margin-bottom: 10px;
      padding: 11px 16px 6px;
      border-radius: 10px;
      background: var(--color-noteItem);
      color: var(--color-gray);
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;

      &-title {
        font-size: var(--16px);
        color: var(--color-black);
        margin-bottom: 3px;
      }
      &-details {
        margin-bottom: 10px;
      }
      &-last {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 32px;

        &-delete:hover {
          background-color: var(--color-light);
          color: var(--color-noteItem);
        }
        &-delete:active {
          transform: translateY(2px);
          background-color: var(--color-red);
        }
        &-delete {
          color: var(--color-red);
          border: 0;
          background-color: var(--color-noteItem);
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          transition: var(--transitionTiming);
        }
      }
    }
  }
  &__blog {
    display: flex;
    height: 100%;
    left: calc(var(--width-menu) + 322px);
    position: fixed;
    flex-direction: column;
    color: var(--color-black);
    overflow-y: auto;
    transition: var(--transitionTiming-large);
    margin: 0 auto;
    // @media (min-width: 1200px) {
    padding: 100px 50px 99px;
    // }
    @media (min-width: 1200px) {
      padding: 100px 50px 99px;
    }
    @media (min-width: 1450px) {
      padding: 100px 153px 99px;
    }
    &-title {
      font-size: var(--26px);
      margin-bottom: 12px;
    }
    &-auther {
      font-size: var(--13px);
      color: var(--color-gray);
      margin-bottom: 39px;
    }
    &-details {
      font-size: var(--16px);
      line-height: 1.4;
      letter-spacing: 1px;
      max-width: 600px;
      &-special {
        color: var(--color-light);
      }
    }
  }
}
.addNote {
  display: none;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  @media (min-width: 1000px) {
    left: 500px;
  }
  @media (max-width: 1000px) {
    margin: 0 auto;
    position: relative;
  }
  top: 114px;
  &__title {
    font-size: var(--26px);
    margin-bottom: 36px;
    color: var(--color-black);
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 39px;
    &-item {
      flex-direction: column;
      justify-content: center;
      display: flex;
      gap: 6px;
      &-label {
        color: var(--color-gray);
        font-size: var(--13px);
      }
      &-input {
        border: 0;
        outline: none;
        width: 500px;
        background: var(--color-menu);
        padding: 10px 7px;
        color: inherit;
        border-radius: 7px;
        transition: var(--transitionTiming);
        &-note {
          min-height: 150px;
        }
      }
      &-input:focus {
        border: 1px solid var(--color-gray);
      }
    }
  }
  &__buttons {
    display: flex;
    gap: 27px;
    margin-top: 48px;

    &-add {
      background-color: var(--color-light);
      color: var(--color-noteItem);
      border: 0;
      padding: 10px 22px;
      border-radius: 5px;
      cursor: pointer;
      transition: var(--transitionTiming);
    }
    &-add:active {
      transform: translateY(2px);
    }
    &-add:hover {
      background-color: var(--color-red);
      transition: var(--transitionTiming);
    }
  }
}
.highlight {
  background-color: #fcfc67;
}
