:root {
  --color-menu: #f6f6f6;
  --color-noteItem: #ffffff;
  --color-light: #ec7160;
  --color-red: #d82700;
  --color-black: #303030;
  --color-gray: #898989;
  --color-gap: #e7e7e9;
  --13px: 13px;
  --15px: 15px;
  --16px: 16px;
  --26px: 26px;
  --transitionTiming: 0.1s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.2rem; /* Adjust the width as needed */
}

::-webkit-scrollbar-track {
  background: var(--color-menu);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem; /* Slightly rounded corners */
  background: var(--color-light);
}

.container {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 258px;
  height: 100%;
  background: var(--color-menu);
  padding: 41px 24px 0;
}
.menu__title {
  position: relative;
  font-family: "Aclonica", sans-serif;
  color: var(--color-light);
  font-size: var(--15px);
}
.menu__search {
  position: relative;
  margin-top: 57px;
  border-radius: 0;
}
.menu__search-icon {
  cursor: pointer;
  padding: 8px;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__search-input {
  color: inherit;
  border: none;
  width: 80%;
  padding: 7px;
  padding-left: calc(1em + 18px);
  transition: var(--transitionTiming);
  font-size: var(--13px);
}
@media screen and (min-width: 600px) {
  .menu__search .menu__search-input:focus {
    width: 100%;
  }
}
.menu__nav {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  font-size: var(--16px);
}
.menu__nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: var(--transitionTiming);
}
.menu__nav-item-line {
  display: block;
  position: absolute;
  left: 24px;
  content: "";
  height: 20px;
  width: 3px;
  background-color: var(--color-light);
  transition: height 0.3s ease;
}
.menu__nav-item-link:active {
  transform: translateY(2px);
}
.menu__nav-item-link:hover {
  text-decoration: underline;
}
.menu__nav-item-link {
  border: 0;
  background-color: var(--color-menu);
  margin-right: auto;
  margin-left: 12px;
  padding: 2px 5px;
  cursor: pointer;
  transition: var(--transitionTiming);
  color: var(--color-gray);
}
.menu__nav-item-link-active {
  color: var(--color-black);
}
.menu__nav-item:hover .menu__nav-item-line {
  display: block;
}
.menu__nav-item:hover .menu__nav-item-link {
  color: var(--color-black);
}

.note {
  left: 258px;
  position: absolute;
}
.note__notes {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color-gap);
  height: 100%;
  width: 322px;
  position: fixed;
  padding: 48px 0;
  font-size: var(--13px);
  overflow-y: auto; /* Enable vertical scrolling */
}
.note__notes-title {
  margin-bottom: 16px;
  color: var(--color-light);
}
.note__notes-title-text {
  margin-left: 28px;
}
.note__notes-title-notes {
  position: relative;
  padding: 10px 0 6px;
}
.note__notes-title-notes::before, .note__notes-title-notes::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--color-gap);
}
.note__notes-title-notes::before {
  top: 0;
}
.note__notes-title-notes::after {
  bottom: 0;
}
.note__notes-noteItem:hover {
  --color-noteItem: var(--color-menu);
}
.note__notes-noteItem {
  margin-bottom: 10px;
  padding: 11px 16px 6px;
  border-radius: 10px;
  background: var(--color-noteItem);
  color: var(--color-gray);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.note__notes-noteItem-title {
  font-size: var(--16px);
  color: var(--color-black);
  margin-bottom: 3px;
}
.note__notes-noteItem-details {
  margin-bottom: 10px;
}
.note__notes-noteItem-last {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 32px;
}
.note__notes-noteItem-last-delete:hover {
  background-color: var(--color-light);
  color: var(--color-noteItem);
}
.note__notes-noteItem-last-delete:active {
  transform: translateY(2px);
  background-color: var(--color-red);
}
.note__notes-noteItem-last-delete {
  color: var(--color-red);
  border: 0;
  background-color: var(--color-noteItem);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--transitionTiming);
}
.note__blog {
  display: flex;
  height: 100%;
  left: 580px;
  position: fixed;
  flex-direction: column;
  padding: 100px 153px 99px;
  color: var(--color-black);
  overflow-y: auto;
}
.note__blog-title {
  font-size: var(--26px);
  margin-bottom: 12px;
}
.note__blog-auther {
  font-size: var(--13px);
  color: var(--color-gray);
  margin-bottom: 39px;
}
.note__blog-details {
  font-size: var(--16px);
  line-height: 1.4;
  letter-spacing: 1px;
}

.addNote {
  display: none;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  left: 500px;
  top: 114px;
}
.addNote__title {
  font-size: var(--26px);
  margin-bottom: 36px;
  color: var(--color-black);
}
.addNote__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 39px;
}
.addNote__form-item {
  flex-direction: column;
  justify-content: center;
  display: flex;
  gap: 6px;
}
.addNote__form-item-label {
  color: var(--color-gray);
  font-size: var(--13px);
}
.addNote__form-item-input {
  border: 0;
  outline: none;
  width: 500px;
  background: var(--color-menu);
  padding: 10px 7px;
  color: inherit;
  border-radius: 7px;
  transition: var(--transitionTiming);
}
.addNote__form-item-input-note {
  min-height: 150px;
}
.addNote__form-item-input:focus {
  border: 1px solid var(--color-gray);
}
.addNote__buttons {
  display: flex;
  gap: 27px;
  margin-top: 48px;
}
.addNote__buttons-add {
  background-color: var(--color-light);
  color: var(--color-noteItem);
  border: 0;
  padding: 10px 22px;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--transitionTiming);
}
.addNote__buttons-add:active {
  transform: translateY(2px);
}
.addNote__buttons-add:hover {
  background-color: var(--color-red);
  transition: var(--transitionTiming);
}

.highlight {
  background-color: yellow; /* Change the background color to yellow */
}/*# sourceMappingURL=style.css.map */